<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">FestApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/fest/schedule">Fest Calendar<span ></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/fest/addFest" >Add fest</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        {{!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div> --}}
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>

    </ul>

    {{#unless user}}
    <a href="/user/login"><button type="button" class="btn btn-outline-success ml-lg-1 ">LogIn</button></a>
    {{!-- <button type="button" class="btn btn-outline-warning ">Register</button> --}}
    {{else}}
    <a  href="/user/logout"><button id="logout" type="button" class="btn btn-danger ml-lg-5" >LogOut</button>
    </a>

    {{/unless}}
  </div>
</nav>