<form action="/fest/addFest" method="POST">
    <fieldset>
        <legend><b>    Our fest form   </b></legend>
        Name of the fest<input type="text" name="fest_name" id="">
        {{!-- where ?<input type="text" name="fest_place" id=""> --}}
        when ?<input type="date" placeholder="click and pick a date" autocomplete="" name="fest_date" id="">
        when2end ?<input type="date" placeholder="click and pick a date" autocomplete="" name="fest_date_end" id="">
        {{!-- what genre ?<input type="text" name="fest_genre" id=""> --}}
        {{!-- Open air ?<input type="checkbox" name="openair" id="openair"> --}}

<div class="buttons">
<button id="a"  type="submit" class="btn btn-outline-success ml-lg-1 ">save</button>
</div>

    </fieldset>



</form>