<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to FestApp!</h1>
        <p class="lead">This app will help You find the festivals</p>
        <hr class="my-4">
        <a class="btn btn-dark btn-lg" href="#" role="button">Learn more</a>
    </div>

</div>